@font-face {
    font-family:'Jost';
    src: url('fontes/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Jost', Helvetica, sans-serif;
    background-color: #F0F0F0;
}

a{
    text-decoration: none;
    color: white;
}

/*topo*/
.topo{
    background-color: #DB0138;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
}

.logoimg{
    margin-left: 105px;
    width: 250px;
    padding-right: 15px;
}

.conteudo{
    color:white;
    display: flex;
    text-align: center;
    margin-right: 75px;
    margin-left: 10px;
}

.conteudo img{
    width: 35px;
}

.headcards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 0px;
}

.headlabels {
    height: 0px;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
}

/*fimtopo*/

/*subtopo*/
.subtop{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #C60C34;
    text-align: center;
    height: 60px
}

.textsub{
    color: white;
    font-size: 15px;
}

.textsubbold{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#textesq{
    margin-left: 105px;
}

#textdir{
    margin-right: 105px;
}
/*fimsubtop*/

/*busca*/
#divBusca{
    background-color:#F0F0F0;
    border-radius:50px;
    width: 500px;
    display: flex;
    align-items: center;
    height: 45px;
    margin: 0 auto;

}
#txtBusca:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btnBusca{
    background-color: #DB0138;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:15px;
    font-style:'Jost', Helvetica, sans-serif;
    font-size:18px;
    border:none;
    height:60px;
    width:94%;
}
/*fim*/

/*rodape*/
.rodape{
    color:white;
    display: flex;
    background-color: #DB0138;
    justify-content: space-around;
    font-size: 15px;
    align-self: flex-end;
}

#logobot{
    width:100%;
}
.caixa{
    display: flex;
}
.imgs{
    align-self:initial;
    width: 20%;
    padding-top: 20px;
}
.imgs img{
    width: 15%;
}

/*fimrodape*/

/*conteúdo da página*/

/*destaque*/
.contpg{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dest1{
    margin-left:200px;
    margin-right:50px;
    margin-bottom: 50px;
    width:60em;
}

.destaque img{
    margin-right:50px;
    width:30em;
    
}

#dest2{
    margin-bottom: 5px;
}

#dest3{
    margin-bottom: 50px;
}
/*fim do destaque*/

/*mais destaque*/
.maisdesq{
    background-color: #DB0138;
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

#box1{
    width:30em;
   
}

.box{
    background-color:white;
    display: flex;
    width: 70%;
    margin-left: 200px;
    color: #707070;
    border-radius: 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

.box a{
    color:#707070;
    cursor: pointer;
}

.text h1{
    color: #236828 ;
}

.text{
    margin-left: 30px;
}

#seta{
    display: flex;
}

/*top3*/

.container{
    display: flex;
}
.mainback{
    background-color: #F0F0F0;
    display: flex;
}

.mainbox{
    margin-top: 20px;
    margin-left: 105px;
    margin-right: 105px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 290px auto ;
    height: auto;
}

.menubox{
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

.receitastop3 img{
    width: 60px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.receitastop3 p{
    font-size: 20pt;
    color:#236828;
}

.receitastop3{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.menuboxmargin{
    color: #236828;
}

.menubarpng img{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.menubarpng{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #236828;
}

.menulabelside{
    color: #236828;
}

.menubarpngend{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menubarpngend img{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.btntop{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #236828;
    justify-content: space-around;
    align-items: center;
}

.btntopS{
    background-color:#236828;
    border-radius: 40px;
    width: 30%;   
    text-align: center; 
    box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

.btntopG{
    background-color: #4EB556;
    border-radius: 40px;
    width: 30%;   
    text-align: center; 
    box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

#top3{
    color: white;
}

/*fimtop3*/

/*Últimas receistas*/

.containerult{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

#box2{
    width:20em;
    height: 32em;
}

.boxult{
    background-color:white;
    display: flex;
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    color: #707070;
    border-radius: 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

.boxult a{
    color:#707070;
    cursor: pointer;
}

.text h1{
    color: #236828 ;
}

.text{
    margin-left: 30px;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.textofeed{
    display: flex;
    align-items: center;
    color:#236828;
}

.textofeed p{
    margin-left: 5px;
}
/*Fim*/

/* fim do mais destaques*/

/*fim do conteúdo da página*/














