@font-face {
    font-family:'Jost';
    src: url('fontes/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Jost', Helvetica, sans-serif;
    background-color: #F0F0F0;
}

a{
    text-decoration: none;
    color: white;
}

/*topo*/
.topo{
    background-color: #DB0138;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
}

.logoimg{
    margin-left: 105px;
    width: 250px;
    padding-right: 15px;
}

.conteudo{
    color:white;
    display: flex;
    text-align: center;
    margin-right: 75px;
    margin-left: 10px;
}

.conteudo img{
    width: 35px;
}

.headcards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 0px;
}

.headlabels {
    height: 0px;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
}

/*fimtopo*/

/*subtopo*/
.subtop{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #C60C34;
    text-align: center;
    height: 60px
}

.textsub{
    color: white;
    font-size: 15px;
}

.textsubbold{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#textesq{
    margin-left: 105px;
}

#textdir{
    margin-right: 105px;
}
/*fimsubtop*/

/*busca*/
#divBusca{
    background-color:#F0F0F0;
    border-radius:50px;
    width: 500px;
    display: flex;
    align-items: center;
    height: 45px;
    margin: 0 auto;

}
#txtBusca:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btnBusca{
    background-color: #DB0138;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:15px;
    font-style:'Jost', Helvetica, sans-serif;
    font-size:18px;
    border:none;
    height:60px;
    width:94%;
}
/*fim*/

/*rodape*/
.rodape{
    color:white;
    display: flex;
    background-color: #DB0138;
    justify-content: space-around;
    font-size: 15px;
    align-self: flex-end;
}

#logobot{
    width:100%;
}
.caixa{
    display: flex;
}
.imgs{
    align-self:initial;
    width: 20%;
    padding-top: 20px;
}
.imgs img{
    width: 15%;
}

/*fimrodape*/


/* Tudo o que está acima não deve ser alterado

Adicione a estilização do conteúdo da página abaixo*/


.container{
   margin: 50px 140px 50px 140px;
   background-color: white;
   border-radius: 20px;
   padding-bottom: 50px;
   box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

.container img {
    width: 5%;
}

.cont{
    display: flex;
    align-items: center;
    justify-content:center;
}

.cont p{
    margin-left: 20px;
    font-size: 35px;
    color: #236828;
}

.text{
    color: #707070;
    margin-left: 50px;
    margin-right: 50px;
}

.textQuemsomos{
    color:#236828;
    margin-left: 50px;
    margin-right: 50px;
}

#map{
    margin: 10px;
    height: 500px;
}